# Copy this file to .env and fill in your values
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=master
DB_USER=sa
DB_PASSWORD=YourStrong@Passw0rd
ODBC_DRIVER=ODBC Driver 18 for SQL Server

PG_SERVER=localhost
PG_PORT=5432
PG_NAME=postgres
PG_USER=postgres
PG_PASSWORD=YourStrong@Passw0rd
